.bestMovie{
    background-color:red;
color: blue;
}
.bestmovie{
    height: 25px;
    width:500px;
}
.award{
    background-color:gray;
    text-align:center;
}
.award2{
  background-color:blue;
    text-align:center;
}
.award3{
    background-color:red;
}
.center
{
text-align:center;
}
.award4{
    background-color:purple;
}
.center
{
    text-align:center;
}